<div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> <p class="name">Menu</p> <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand name" href="#page-top">DASWUT</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden active">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a class="name" href="dashboard">Home</a>
                    </li>
                    <li class="page-scroll">
                        <a class="name" href="unbar">Unbar</a>
                    </li>
                    <li class="page-scroll">
                        <a class="name" href="report">Reports</a>
                    </li>
                    <li class="page-scroll">
                        <a class="name" href="#about">About</a>
                    </li>
                    <li class="page-scroll">
                        <a class="name" href="#contact">Contact</a>
                    </li>
                    <li class="page-scroll">
                        <a class="name" href="logout">Logout</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>